<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
         http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/mvc
         http://www.springframework.org/schema/mvc/spring-mvc.xsd
         http://www.springframework.org/schema/context
         http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 配置 spring MVC -->
    <!-- 1: 开启SpringMVC 注解模式 -->
    <!-- 简化配置:
        1)、自动注解 DefaultAnnotationHandlerMapping(使用注解驱动的方式映射), AnnotationMethodHandlerAdapter(基于注解handle的一个适配器)
        2)、默认提供一系列功能: 数据绑定，数字和日期的format @NumberFormat, @NumberFormat, @DataTimeFormat,xml,json默认读写支持
    -->
    <mvc:annotation-driven/>

    <!-- 2. 静态资源默认 servlet 配置
        1: 加入对静态资源的处理: js,gif,png
        2: 允许使用"/"做整体映射
     -->
    <mvc:default-servlet-handler/>

    <!-- 3: 配置JSP,显示viewResolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <!-- value 值需要加 "/",不然会出现404页面-->
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!-- 4: 扫描web相关的bean, (把我们自己开发的control放到spring容器当中-->
    <context:component-scan base-package="com.isyxf.web"/>
</beans>